<!DOCTYPE html>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Motivational Posters</title>
</head>
<body>
  <h1>Motivational Posters</h1>
  <p>By tonight I'll have a fully-functioning website!</p>
</body>
</html>
